apiVersion: v1
kind: PersistentVolume
metadata:
  name: mongo-pv
  namespace: flask-mongo
spec:
  capacity:
    storage: 1Gi
  accessModes:
    - ReadWriteOnce
  hostPath:
    path: /data/mongo
  persistentVolumeReclaimPolicy: Retain
