apiVersion: v1
kind: Service
metadata:
  name: mongo-headless
  namespace: flask-mongo
  labels:
    app: mongo
spec:
  clusterIP: None
  selector:
    app: mongo
  ports:
    - name: mongodb
      port: 27017
      targetPort: 27017
---
apiVersion: v1
kind: Service
metadata:
  name: mongo-service
  namespace: flask-mongo
  labels:
    app: mongo
spec:
  selector:
    app: mongo
  ports:
    - name: mongodb
      port: 27017
      targetPort: 27017
  type: ClusterIP
